Repository vshn/application-catalog-docs, pull requests merged in 2022-11, with the labels that each got.

#32 Add PostgreSQL Decision Page
  docs/modules/ROOT/pages/explanations/decisions/converged-service-impl.adoc
  docs/modules/ROOT/pages/explanations/decisions/postgresql.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: documentation, decision

#39 Exoscale DBaaS pricing how-to
  Makefile
  docs/modules/ROOT/examples/exoscale-api-to-chf.py
  docs/modules/ROOT/examples/exoscale-dbass-prep-for-product-docs.py
  docs/modules/ROOT/pages/how-tos/exoscale_dbaas/price-api.adoc
  docs/modules/ROOT/partials/nav-howtos.adoc
Labels: documentation

#41 Update decision for the API design
  docs/modules/ROOT/pages/explanations/decisions/api-design.adoc
Labels: decision

#42 Archive obsolete converged decision
  docs/modules/ROOT/pages/explanations/decisions/archive/converged-service-impl.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: documentation, decision

#40 Add decision about how to handle namespaces
  docs/modules/ROOT/pages/explanations/decisions/converged-service-impl.adoc
Labels: decision
