Repository vshn/application-catalog-docs, pull requests merged in 2023-08, with the labels that each got.

#76 Add decision on object storage by VSHN
  docs/modules/ROOT/pages/explanations/decisions/local-objectstorage.adoc
  docs/modules/ROOT/partials/nav.adoc
Labels: decision

#77 VSHN Managed MariaDB in AppCat Decision
  docs/modules/ROOT/pages/explanations/decisions/mariadb.adoc
Labels: decision

#78 Adding note to Mariadb decision
  docs/modules/ROOT/pages/explanations/decisions/mariadb.adoc
Labels: decision

#79 Add how to increase quotas
  Makefile
  docs/modules/ROOT/pages/how-tos/appcat/appuio-quotas.adoc
  docs/modules/ROOT/partials/nav.adoc
Labels: bug

#81 Add note about the license
  docs/modules/ROOT/pages/explanations/decisions/local-objectstorage.adoc
Labels: change
