Repository vshn/application-catalog-docs, pull requests merged in 2023-03, with the labels that each got.

#59 Add decision on capacity alerts
  docs/modules/ROOT/pages/explanations/decisions/capacity-alerting.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: decision

#58 adding decision for postgresql monitoring
  docs/modules/ROOT/pages/explanations/decisions/postgres-monitoring.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: decision

#61 Add decision on log handling of AppCat services
  docs/modules/ROOT/pages/explanations/decisions/logging.adoc
  docs/modules/ROOT/partials/nav-explanation.adoc
Labels: decision

#60 adding Function docs
  docs/modules/ROOT/pages/how-tos/crossplane/working_with_functions.adoc
  docs/modules/ROOT/partials/nav-howtos.adoc
Labels: tutorial

#62 Hackday: reorganization of the navigation
  docs/modules/ROOT/partials/nav.adoc
Labels: change
